<footer class="site-footer">
  <div class="wrapper">
    <!-- <h2 class="footer-heading">{{ site.title }}</h2> -->

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>{{ site.title }}</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if site.gitlab_username %}
          <li>{% include icon-gitlab.html username=site.gitlab_username %}</li>
          {% endif %} {% if site.github_username %}
          <li>{% include icon-github.html username=site.github_username %}</li>
          {% endif %} {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %} {% if site.slack_username %}
          <li>
            {% include icon-slack.html username=site.slack_username %}
          </li>
          {% endif %} {% if site.youtube_username %}
        <li>
            {% include icon-youtube.html username=site.youtube_username %}
        </li>
        {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        {{ site.description | markdownify }}
      </div>
    </div>
  </div>
</footer>
